{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>App - Definir Gastos</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
</head>
<body bgcolor="white">
	<h1> 
		{% if div == 0 %}
			Divisão Normal
		{% elif div == 1 %}
			Divisão Igual
		{% elif div == 2 %}
			Divisão Parcial
		{% else %}
			Estranho, isso nao deveria acontecer...
		{% endif %}
	</h1>
	<span id="msg" class="error"></span><br>
	<form id="form" method="POST" action="{% url 'app-pgmt'%}">
		{% csrf_token %}
		<label>
			<span>Tem Gorjeta?</span>
			<input name="temGorjeta" id="temGorjeta" type="checkbox" checked/>
		</label>
		<label>
			<input name="gorjeta" type="number" min="1" max="100" step="any" value='10'placeholder="10"/>
			<span>%</span>
		</label>
		{% if div == 0 %} <!-- DIVISAO NORMAL -->
			<p>Quanto cada um gastou?</p>
			<ul>
				{% for p in pessoas %}
					<li>
						<span>{{p.nome}}</span>
						<label>
							R$
							<input name="gasto" type="number" min="0" max="10000" step="any" pattern="([\d]*[,]\d\d)" placeholder="0,00" title="Insira um valor seguindo o padrão para dinheiro: 00,00" required/>
						</label>
					</li>
				{% endfor %}
			</ul>
		{% elif div == 1 %} <!-- DIVISAO IGUAL -->
			<p>Quanto foi o valor da conta?</p>
			<input name="gasto" type="number" min="0" max="10000" step="any" pattern="([\d]*[,]\d\d)" placeholder="0,00" title="Insira um valor seguindo o padrão para dinheiro: 00,00" required autocomplete="off" />
		{% elif div == 2 %} <!-- DIVISAO PARCIAL-->
			<p>Quanto cada um gastou individualmente?</p>
			<ul>
				{% for p in pessoas %}
					<li>
						<span>{{p.nome}}</span>
						<label>
							R$
							<input name="gasto" type="number" min="0" max="10000" step="any" pattern="([\d]*[,]\d\d)" placeholder="0,00" title="Insira um valor seguindo o padrão para dinheiro: 00,00" required autocomplete="off"/>
						</label>
					</li>
				{% endfor %}
			</ul>
			<div id="group-section">
				<button id="add-grupo" type="button">Adicionar novo grupo</button>
			</div>
		{% endif %}
		<input type="submit" class="botao" value="OK"/>
	</form>
	<script type="text/javascript">
		var pessoas = [{% for p in pessoas %}{"id":"{{p.id}}","nome":"{{p.nome}}"},{% endfor %}];
	</script>
	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/app-gsto.js' %}"></script>
</body>
</html>