@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900%display=swap');
*
{
    font-family: 'Poppins',sans-serif;
	margin:10px;
	padding:5px;
	box-sizing: border-box;
	
}
body
{
	background:#b76935;
	min-height: 100vh;
    color:#fff;
    text-shadow: 0.1em 0.1em #000;
}
h1
{
	color:#fff;
	letter-spacing: 5px;
	text-shadow: 0.1em 0.1em #000;
    text-transform: uppercase;
}
label{
    display: block;
}
.botao{
    color:#fff;
    letter-spacing: 2px;
    font-weight:500;
    font-size: 11pt;
    background-image: url('/static/img/giz.jpg');
    padding:7px;
    border-radius: 5px;
}
.botao:hover{
    color:#b76935;
}
#input{
    border-radius: 5px;
}